/* Utilities */
.body{
    padding-top: 120px;
}



.main-header .navbar{
    background-color: #2C3E50;
    padding: 20px 0;
}

.main-sec-1{
    background-color: #1ABC9C;
    margin-top: 90px;
}

.main-sec-2{
    background-color: #fff;
}

.main-sec-3{
    background-color: #1ABC9C;
    margin-top: 20px;
}

.main-sec-4{
    background-color: #2C3E50;
}

.main-sec-5{
    background-color: #1A252F;
}

/* Colore testo bianco */
.navbar>.container .navbar-brand,
.navbar-default .navbar-nav>li>a{
    color: #fff
}

/* Font-size e colo header */
.navbar>.container .navbar-brand{
    font-size: 25px;
}

.navbar-default .navbar-nav>li>a{
    font-size: 18px;
}

.navbar-default .navbar-nav>li>a:hover{
    color: rgb(253, 249, 249);
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff
}

.navbar-default{
    border-color: #2C3E50;
}

/* img */
.logo-img{
    width: 200px;
    padding-top: 20px;
}

.main-sec-1 .container h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    padding-bottom: 15px;
}

.main-sec-1 .container p{
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
}

/* Bordo-stella */
.bordo{
    border: 3px solid #fff;
    height: 3px;
    width: 100px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}

.bordo-2{
    border: 3px solid #2C3E50;
    height: 3px;
    width: 100px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}

.dist-bot{
    padding-bottom: 15px;
}

.dist-top{
    padding-top: 20px;
}

.dist-top-2{
    margin-bottom: 20px;
}

.stella{
    color: #fff;
    font-size: 30px;
    vertical-align: middle;
}

.stella-2{
    color: #2C3E50;
    font-size: 30px;
    vertical-align: middle;
}

/* Testo-immagini-2 */
.main-sec-2 .container .box3 h2{
    color: #2C3E50;
    font-size: 35px;
}

.main-sec-2 .container .box5 .cards{
    width: 300px;
    border-radius: 5px;
    background-color: #1ABC9C;
    opacity: 1;
    transition: .3s;
}

.main-sec-2 .container .box5:hover{
   opacity: 0;
}

/* Terzo-box */
.main-sec-3 .container h2{
    font-size: 35px;
    color: #fff;
}

.main-sec-3 .container p{
    color: #fff;
    font-size: 18px;
}



/* Color-box */
.box2{
    width: 100%;
    height: auto;
}

.box3{
    width: 100%;
    height: 40px;
}

.box4{
    width: 100%;
    height: 40px;
    background: rgb(94, 72, 72);
}



.box6{
    width: 100%;
    height: 40px;
    background: #1FA4B6;
}

.box7{
    width: 100%;
    height: 40px;
    background: black;
}

.box8{
    width: 100%;
    height: 40px;
    background: #1D83C1;
}

.box9{
    width: 100%;
    height: 40px;
    background: #1037B5;
}

.box10{
    width: 100%;
    height: 40px;
    background: #CCB2A3;
}

.box11{
    width: 100%;
    height: 40px;
}

.box12{
    width: 100%;
    height: 40px;
}

.box13{
    width: 100%;
    height: 40px;
}

.box14{
    width: 100%;
    height: 40px;
}